@import "../../../../../../../../static/less/rightForm.less";
.search{
    width:100%;
    height:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tipBox{
        height:30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .tipSpan{
        display: inline-block;
        line-height: 40px;
        margin-right: 10px;
        }
    }
    
}
.tdSpan{
    width:100%;
    display:block;
    text-align:right
}